body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 10px;
}

.expand50-1000 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  resize: none;
}

.tab_class {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
}

#tabs {
  border: 12px solid #FFCC66;
  padding-top: 1em;
  top: 72px;
}

div#tabs>ul {
  background-color: #FFCC66;
  border: 0px solid #FFCC66;
  left: 28px;
  min-width: 675px;
  position: fixed;
  right: 24px;
  top: 66px;
  z-index: 1;
}

div#buttons {
  background-color: #FFF7D9;
  display: block;
  left: 32px;
  min-width: 450px;
  padding: 6px 6px 6px 146px;   
  position: fixed;
  right: 30px;
  top: 107px;
  z-index: 1;
}

#saving_progress {
  width: 30px;
}

.saving {
  position: relative;
  top: 8px;
}

.sub_line {
  display: block;
}

.logo {
  background-color: #FFCC66;
  left: 28px;
  position: fixed;
  vertical-align:middle;
  z-index: 1;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
}

.del_button {
  float: left;
  position: relative;
}

.sub_line_template {
  display: none;
}

.sub_key, .sub_args {
  width: 120px;
}

.key_args {
  float: left;
  position: relative;
}

.value_div {
  position: relative;
}

.bg_key_error {
  background-color: #FF7F7F;
}

#main {
  background-color: #FFCC66;
  border-radius: 4px;
  font-family:Arial, Helvetica, sans-serif;
  height: inherit;
  min-width: 700px;
}

#body {
  height: inherit;
}

#saving {
  position: absolute;
}

#head {
  background-color: #FFCC66;
  font-size: 24pt;
  left: 76px;
  min-width: 630px;
  padding: 6px;
  position: fixed;
  right: 24px;
  z-index: 1;
}

#header1 {
  border-bottom-color: ffcc66;
  border-bottom-style: solid;
  border-bottom-width: medium;
  text-align: center;
}

#header2 {
  height: 30px;
  padding-top: 5px;
}

#head_abbr {
  left: 6%;
  position: relative;
  width: 20%;
}

#head_long {
  left: 39%;
  position: relative;
}

#button {
  margin: 10px;
}

#guide {
  font-size: 12pt;
  font-weight: bold;
  white-space: pre-line;
}

li > a {
  border-color: #FFCC66;
  border-style: solid;
  border-width: 2px 2px 0;
}

[dropzone] {
  border-style: dashed dashed none;
}

#tabs-1 {
  padding: 24px 24px 24px;
  position: relative;
  top: 16px;
}

td {
  font-size: 12pt;
  font-weight: bold;
}

#caption {
  height: 75px;
}

#version {
  position: fixed;
  left: 82px;
  top: 55px;
  z-index: 1;
}

.link {
  color: #24B; 
  cursor: pointer; 
  text-decoration: underline; 
}

.alert-preferences
{
  color: #FF0000;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 16px 0px 0px 0px;
  text-align:center;
  vertical-align: top;
}

.div-preferences
{
  border-bottom-color: #FC6;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin: 0px 0px 0px 0px;
  padding: 8px 0px 8px 0px;
  vertical-align: top;
}

.hidden
{
  display:none;
  visibility:hidden;
}

.visible
{
  display: block;		
  visibility: visibile;
}

.nowrap
{
  white-space: nowrap;
}
