body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 10px;
}
.sub_line {


}
.sub_key {
	width: 23%;
}


.sub_value {
	height:50px;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	max-width: 100%;
}
.del_button {
	position: relative;
	left: 65%;
}
.sub_line_template {
	visibility: hidden;
	height: 0px;
}

#main {
	font-family:Arial, Helvetica, sans-serif;
	border: 6px solid #FFCC66;
	border-radius: 4px;
	background-color: #FFCC66;
	height: inherit;
	min-width: 700px;
}
#body {
	background-color: #FFF7D9;
	padding: 5px;
	height: inherit;
}
#head {
	font-size: 24pt;

}
#header1 {
	text-align: center;
}

#header2 {
	height: 30px;
}
#head_abbr {
	width: 20%;
	font-size: 12pt;
	font-weight: bold;
	left: 6%;
	position: relative;
}
#head_long {
	font-size: 12pt;
	font-weight: bold;
	position: relative;
	left: 39%;
}
#key_div {
	position: relative;
	left: 1%;
}
#value_div {
	position: relative;
	left: 25%;
	bottom: 29px;
	width: 63%;
}

#button {
	margin: 10px;

}
#guide {
	font-weight: bold;
	position: relative;
	font-size: 12pt;
	text-align: center;
	width: inherit;
}

#caption {
	height: 75px;
}
